@import '../variable';
@import '../mixin';


.news {
    width: 768px;
    margin: 0 auto;
    .news-container {
        .news-content {
            h1 {
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 1px;
            }
            h2 {
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }
            .news-block {
                .main-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin: 64px 20px 64px 0;
                    width: 768px;
                    height: 217px;
                    background: #F7FAFC;
                    border-radius: 6px;
                    padding-left: 24px;
                    h1 {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 1px;
                    }
                    h2 {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                    }
                    input {
                        width: 720px;
                        height: 32px;
                        background: #EDF2F7;
                        border: none;
                        border-radius: 6px;
                    }
                    h3 {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        color: $underTextColor;
                    }
                }
            }
        }
    }
}