@font-face {
    font-family: 'Inter', sans-serif;;
    src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: 'Inter', sans-serif;;
    src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: 'Inter', sans-serif;;
    src: url(../assets/fonts/static/Inter-SemiBold.ttf);
}